/*Ajuste general*/
*{
    margin: 0;
    box-sizing: border-box;
}
/*Cierre ajuste general/

/*Inicia estilo logo+barranav+buscador*/
.header{
    display: flex;
    justify-content: center;
    background-color: #000000;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
body{
    font-family: sans-serif;
    padding: 70px 10px 0;
}
.nav{
    display: flex;
    height: 50px;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    font-size: 18px;
    padding: 0 25px;
    line-height: 50px; 
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-opc{
    font-size: 14px;
    margin: 0 10px;
    line-height: 50px;
    text-transform: uppercase;
    width: max-content;
}
.buscador{
    margin: 0 10px;
    line-height: 50px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-opc :hover {
    background-color: #6B778D;
    transition: 0.3s;
}
.nav-menu-opc{
    padding: 2px 6px;
    border-radius: 2px;
}
/*Cierra estilo logo+barranav+buscador*/

/*inicia estilo index */
/*inicia contenedor de secciones */
/*inicia banner*/
.banner-container{
    grid-area: banner;
    background-color: aquamarine;
}
.banner-container-footer{
    grid-area: banner-container-footer;
    background-color: aquamarine;
}
.banner{
    background-color: aquamarine;
}
/*Cierra banner*/
/*inicia secciones*/
.section-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 200px repeat(2, 1fr) 200px;
    grid-template-areas: 
    "banner banner banner banner banner "
    "topcharts topcharts topcharts podcast podcast"
    "newreleases newreleases newreleases newsandevents-1 newsandevents-1"
    "banner-container-footer banner-container-footer banner-container-footer banner-container-footer banner-container-footer";
    row-gap: 10px;
    column-gap: 10px;

}
.titulo{
    justify-content: center;
    background-color: #000000;
    color: white;
    font-family: 'Koulen', cursive;
    padding: 10px
}
.bloques{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
.topcharts{
    grid-area: topcharts;
    display: flex;
    background-color: #393E46;
}
.newreleases{
    grid-area: newreleases;
    display: flex;
    background-color: #393E46;
}
.podcast{
    grid-area: podcast;
    background-color: black;
}
.newsandevents-1{
    grid-area: newsandevents-1;
    background-color: black;
}
.txt-descripcion{
    color: white;
    padding: 10px;
}
/*Cierra secciones*/
/*Cierra contenedor de secciones */
/* Cierra estilo index */

/* Inicia estilo footer */
.footer{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
}
.footer-link{
    text-decoration: none;
    text-align: center;
    background-color: #000000;
    color: white;
    font-size: 14px;
    line-height: 15px;
    margin: 0 10px;
    padding: 9px;
}
.footer-link:hover{
    background-color: #6B778D;
    transition: 0.3s;
}
/* Cierra estilo footer */